<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PinterestClone</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'req.css'%}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
              crossorigin="anonymous">
</head>
<body>
    <div id="header">
            <ul>
                <div id="logo"><img src="{% static 'img/logo.jpg'%}" alt="logo" /></div>

                <div id="search">
                    <input id="search-box" type="text" placeholder="Search" />
                </div>

                <div id="nav-buttons">
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                </div>
            </ul>
        </div>
    
    <div id="wrapper">
            <div id="columns">
                <div class="pin"> <img src="{% static 'img/img_1.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_2.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_3.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_4.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_5.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_1.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_2.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_3.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_4.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_5.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_1.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_2.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_3.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_4.jpg'%}" alt=""/> <p>Autor</p> </div>
                <div class="pin"> <img src="{% static 'img/img_5.jpg'%}" alt=""/> <p>Autor</p> </div>
            </div>
        </div>
</body>
</html>
